@charset "utf-8";
html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
	text-align: right;
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

label{
	display: inline-block;
	float: right;
	clear: right;
	width: 180px;
	text-align: right;
	color: #FF00DD;
}
input[type = text] {
  display: inline-block;

}
input[type = password] {
  display: inline-block;
  float: right;
}

select {
  display: inline-block;
  float: right;
}
textarea {
  display: inline-block;
  float: right;
}
