@charset "utf-8";
@font-face { font-family: trench100free; src: url('trench100free.otf'); } 
h5{
	font-family: trench100free;
	color:white;
	font-size:150%;
}
html { 
  background: url(images/bggg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
label{
        width:400px; 
        float:right; 
        clear:right;
		color:white		
    } 
h3{
	color:white;
}
h4{
	color:white;
	font-size:125%;
	}



